.griditem {
  justify-content: center;
  align-items: center;
  border: 2px solid #e7e7e7;
  background-color: #edf4f6;
  border-radius: 4px;
  padding: 30px;
  font-family: 'PT Serif', serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 2.25;
  color: #727272;
}

.griditem .img {
  justify-content: center;
  align-items: center;
  border: 2px solid #e7e7e7;
  background-color: #edf4f6;
  border-radius: 4px;
  padding: .5rem;
  font-family: 'PT Serif', serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 2.25;
  color: #727272;
}