.grid {
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: auto;
  grid-gap: 1rem;
  background: white;
}

.griditem {
  justify-content: center;
  align-items: center;
  border: 2px solid #e7e7e7;
  background-color: #edf4f6;
  border-radius: 4px;
  padding: .5rem;
  font-family: 'PT Serif', serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 2.25;
  color: #727272;
}